<!DOCTYPE html>
<html>
    <head>
        <title>PyLFG Help</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha512-lCjOjOivb+aJjG8gjGjE2CjCj7VYUoIqHl1/lW6sJGZmWf1s+A5E/9lK2LXKf+PuEjQqcgRpqcjUJ7m/Nb/fAw==" crossorigin="anonymous" />
    </head>
    <body>
        <div class="container">
            <h1 class="title has-text-centered">PyLFG Help</h1>
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="card">
                        <div class="card-content">
                            <p>PyLFG is a web-based tool for teaching, learning, and researching Lexical Functional Grammar (LFG). This tool allows users to enter sentences, grammars, and lexicons in the LFG formalism, and see the resulting c-structure and f-structure parse trees.</p>
                            <h2 class="subtitle">Input View</h2>
                            <p>The Input View is the main page of the PyLFG tool. Here, users can enter a sentence to be parsed, select a grammar to use for parsing, and choose which parse tree(s) they would like to see (c-structure, f-structure, or both). The input view also has a link to the Help View for more information.</p>
                            <h2 class="subtitle">Results View</h2>
                            <p>The Results View displays the c-structure and/or f-structure parse tree(s) for the sentence and grammar selected in the Input View. This view also includes a link to the Input View for parsing another sentence.</p>
                            <h2 class="subtitle">Help View</h2>
                            <p>The Help View provides information on how to use the PyLFG tool and what the different views and features are.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
