<!DOCTYPE html>
<html>
    <head>
        <title>PyLFG</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@v2.2.0/dist/htmx.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- include input_view.html here -->
                </div>
                <div class="col-md-9">
                    <div id="result-container">
                        <!-- include results_view.html here -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- include grammar_writing.html here -->
                </div>
            </div>
        </div>
    </body>
</html>
